@import '../../../css/variables';

.GenderPanel {
  .panelPart {
    padding: 3% 5%;
    border-radius: 3px;
    .genderSpan {
      font-weight: 600;
      margin-left: 15px;
    }
    &:nth-child(2){
      border: 1px solid $femaleColor;
      margin-bottom: 2%;
    }
    &:nth-child(3) {
      border: 1px solid $maleColor;
    }
  }
}