@import '../../css/variables';

.StudentOptions {
  border-radius: 5px;
  background-color: $light-color;
  color: $dark-color;
  box-shadow: $my-box-shadow-two;
  padding: 10px;
  .optionSign {
    transition: color 0.3s ease;
    cursor: pointer;
  }
  //.present:hover { color: $present; }
  //.late:hover { color: $late; }
  //.absent:hover { color: $absent; }
}