html {
  height: 100%;
  body {
    color: $dark-color;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #204477 0%, #00a991 0%, #207cca 0%, #00a991 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#204477 0%,#00a991 0%,#207cca 0%,#00a991 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#204477 0%,#00a991 0%,#207cca 0%,#00a991 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-sans;


    // --- START Reusable classes ---
    // Card style
    .basicCard {
      box-shadow: $my-box-shadow;
      border-radius: 3px;
      background-color: $light-color;
      padding: 30px 40px;
    }

    // Mini Heading
    .miniHeading {
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
    }

    // Circle image
    .studentImg {
      height: 90px;
      border-radius: 50%;
      margin: 10px 0;
      filter: grayscale(100%);
    };
    // --- END Reusable classes ---
  }
}