$main-color: #1080bd;
$light-color: #fcfcfc;
$dark-color: #333333;

// present, late & absent colors
//$present: #3cb554;
//$late: #b57031;
//$absent: #bc2c2c;

$femaleColor: #a52770;
$maleColor: #223f9c;

$my-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$my-box-shadow-two: 0px 3px 15px rgba(0,0,0,0.2);

$font-sans: 'Montserrat', sans-serif;