@import '../../css/variables';

.Students {
  margin: 40px 0;
  .panels {
    margin-bottom: 40px;
  }
}

.SingleStudent {
  margin: 15px 0;
  .studentImg {
    height: 90px;
    border-radius: 50%;
    margin: 10px 0;
    filter: grayscale(100%);
  }
  .studentName {
    color: darken($main-color, 10%);
    letter-spacing: 1px;
  }
  .studentGender {
    margin-bottom: 16px;
  }
}